:root {
    --success: #bbfcba;
    --danger: #fcbad3;
    --primary: #a8d8ea;
    --secondary: #aa96da;
    --warning: #ffffd2;
    --info: #96a9da;
}

body {
    background-color: #232323;
    min-height: 100vh;
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

body * {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button,
input {
    padding: 10px 16px;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: auto;
    opacity: 0.6;
}

input[type="checkbox"] {
    accent-color: var(--success);
    width: 20px;
    height: 20px;
}

.loader {
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    border: 5px solid var(--primary);
    border-radius: 50%;
    border-left-color: transparent;
    animation: loader 1s infinite;
}

.loaderWrapper {
    display: flex;
    justify-content: center;
    min-height: 150px;
    align-items: center;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.errorMessage {
    color: white;
    text-align: center;
    font-size: 20px;
}